/*******
RESET 
*******/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*******
FONT STYLE 
*******/

body {
    font-family: "Fredoka", system-ui;
}

/*******
HEADER
*******/

h1 {
    color: rgba(230, 0, 146, 0.776);
    font-size: 3rem;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
}

/*******
MAIN
*******/

.container {
    margin: auto;
    max-width: 70%;
}

p {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 50px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: 0px -15px;
}

.blocks {
    flex-basis: calc(100% / 3 - 30px);
    height: 100px;
    background-color: black;
}

.row-1 {
    margin: 0px 15px 25px 15px;
}

.row-2 {
    margin: 25px 15px 0px 15px;
}
    